@{
    ViewBag.Title = "Login";
}

@{
    <p>@ViewData["Error"]</p>
}
<form class="blockForm" action="/login" method="post">
    Email: <input class="formElement" name="Email" type="text"/>
    Password: <input class="formElement" name="Password" type="password"/>
    <button type="submit">Login</button>
</form>